@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
:root {
    --blue: #4e73df;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #e74a3b;
    --orange: #fd7e14;
    --yellow: #f6c23e;
    --green: #1cc88a;
    --teal: #20c9a6;
    --cyan: #36b9cc;
    --white: #fff;
    --gray: #858796;
    --gray-dark: #5a5c69;
    --bs-back-primary: 205, 168, 134, 73;
    --bs-bak: 115, 80, 65;
    --bs-background-item: 245, 245, 239;
    --success: #1cc88a;
    --info: #36b9cc;
    --warning: #f6c23e;
    --danger: #e74a3b;
    --light: #f8f9fc;
    --dark: #5a5c69;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    background-color: #F5F5EF !important;
    font-family: "Baloo 2", cursive;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    font-weight: initial;
}

.bg-secondary-plantilla {
    --bs-opacity: 1;
    background-color: rgba(var(--bs-bak), 1)!important;
}

.bg-primary-plantilla {
    --bs-opacity: 1;
    background-color: rgba(var(--bs-back-primary))!important;
}

.item.nav-link.active {
    color: #47525E !important;
    background-color: rgba(var(--bs-background-item))!important;
}

.carta {
    box-shadow: 0 4px 21px -12px rgba(66, 47, 47, 0.66);
    flex-wrap: wrap;
    display: flex;
    border-color: none;
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #31303e;
}

.carta a {
    color: inherit;
}

.carta h1,
.carta .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.carta:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background-image: linear-gradient(-75deg, rgba(255, 194, 147, 73), transparent 25%); */
    opacity: 1;
    border-radius: 10px;
}